body{
	margin: 0;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;

	font-family: 'Roboto', sans-serif;
 	color: white;
}
.center_container{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.metitle{
	margin: 50px 0 0 0;

	text-align: center;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
}